/* #FFA670 #FFD170 #FFBE70 #FF8D70 #FFE370*/
/* set variables for color*/

.login-bg{
    -fx-background-color: linear-gradient(to bottom right, #FF8D70, #FFD170);
}

.app-bg{
    -fx-background-color: #FFBE70;
}

.textfield-design{
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: gray;
    -fx-border-radius: 10px;
    -fx-text-inner-color: #000;
}

.button-design{
    -fx-background-color: linear-gradient(to bottom right, #FF8D70, #FFD170);
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.button-design:hover{
    -fx-background-color: linear-gradient(to bottom right, #FFA670, #FFE370)
}

.navbar-bg{
    -fx-background-color: linear-gradient(to bottom right, #FF8D70, #FFD170);
}

.navbar-button{
    -fx-background-color: linear-gradient(to bottom right, #FFA670, #FFE370);
    -fx-text-fill: #000;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-font-size: 17px;
}

.navbar-button:hover{
    -fx-background-color: linear-gradient(to bottom right, #FF8D70, #FFD170);
    -fx-cursor: hand;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #FFBE70;
}
.tab-pane .tab:selected {
    -fx-background-color: #FFE370;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;
}
.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 30;

    /* NO SPACE LEFT OF FIRST TAB */
    /* -fx-padding: 0 0 0 30; */
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}

.list-view-design{
    -fx-background-color: #FFBE70;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-cell-size: 30px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-font-size: 20px;
    -fx-padding: 10px;
}

.pane-design{
    -fx-background-color: #FFE370;
    -fx-background-radius: 10px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}